html {
  scroll-behavior: smooth;
}

*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto-Bold.woff2);
}

@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto-Medium.woff2);
}

@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto-Regular.woff2);
}

.header__top-menu {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #EFEFEF;
}

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0 15px 0;
}

.top-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-menu__item {
  margin-right: 30px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.top-menu__item:last-child {
  margin: 0;
}

.top-menu__item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.top-menu__link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: #000000;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.top-menu__link:hover {
  color: #000000;
}

.header__midst {
  padding-top: 70px;
  padding-bottom: 40px;
  border: 1px solid #EFEFEF;
}

.midst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.midst__logo-link {
  margin-right: 170px;
}

.midst__logo-img {
  max-width: 260px;
  height: auto;
}

.midst__link {
  margin-right: 40px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.midst__link::after {
  content: '';
  display: block;
  height: 2px;
  background-color: #F13C6E;
  width: 0%;
  -webkit-transition: .2s;
  transition: .2s;
}

.midst__link:hover {
  color: #F13C6E;
}

.midst__link:hover::after {
  width: 100%;
}

.midst__button {
  padding: 0;
  border: none;
  background-color: transparent;
  padding: 12px 26px;
  border: 2px solid #F13C6E;
  border-radius: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.midst__button:hover {
  color: #ffffff;
  background-color: #F13C6E;
}

.form__wrap {
  position: relative;
}

.form-wrap {
  margin-right: 95px;
}

.form-wrap__input {
  max-width: 250px;
  border: none;
  background-color: #EFEFEF;
  padding: 10px 9px 10px 35px;
  border-radius: 40px;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  -webkit-transition: .2s;
  transition: .2s;
}

.form-wrap__input:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-wrap__button {
  border: none;
  padding: 0;
  width: 20%;
  height: 110%;
  background-color: transparent;
  border: none;
  position: absolute;
  left: 0;
  cursor: pointer;
}

.bottom-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0 30px 0;
}

.bottom-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-menu__item {
  margin-right: 40px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.bottom-menu__item:last-child {
  margin: 0;
}

.bottom-menu__item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.bottom-menu__link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.bottom-menu__link::after {
  content: '';
  display: block;
  height: 2px;
  background-color: #000000;
  width: 0%;
  -webkit-transition: .2s;
  transition: .2s;
}

.bottom-menu__link:hover::after {
  width: 100%;
}

.hero {
  padding: 190px 0 190px 0;
  background-image: url("img/main/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__content {
  max-width: 325px;
}

.hero__bg {
  max-width: 1920px;
  height: auto;
}

.hero-content__title {
  margin: 0;
  margin-bottom: 50px;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
}

.hero-content__text {
  margin: 0;
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.hero-content__link {
  display: inline-block;
  padding: 12px 45px;
  text-decoration: none;
  background: #F13C6E;
  border: 2px solid #ffffff;
  border-radius: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.hero-content__link:hover {
  border: 2px solid #F13C6E;
  background-color: #ffffff;
  color: #000000;
}

.product {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #EFEFEF;
}

.product__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

.product__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px;
  max-width: 255px;
  background-color: #ffffff;
  border-radius: 5px;
}

.product-card__img {
  margin-bottom: 20px;
  max-width: 125px;
  height: auto;
}

.product-card__text {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.product-card__price {
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 21px;
  color: #000000;
}

.product-card__link {
  padding: 9px 40px;
  text-decoration: none;
  background: #F13C6E;
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  border: 2px solid transparent;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.product-card__link:hover {
  background: #ffffff;
  border: 2px solid #000000;
  color: #000000;
}

.info {
  background-color: #EFEFEF;
}

.info__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 540px;
  padding: 35px 45px 35px 40px;
  border-radius: 5px;
  background-color: #F13C6E;
}

.info-block__content {
  max-width: 265px;
  margin-right: 50px;
}

.block-content__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.block-content__text {
  margin: 0;
  margin-bottom: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.block-content__input {
  border: none;
  outline: none;
  max-width: 225px;
  padding: 10px 38px 10px 25px;
  border-radius: 30px;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.block-content__input:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.block-content__link {
  display: inline-block;
  padding: 8px 28px;
  text-decoration: none;
  background: #F13C6E;
  border: 2px solid #ffffff;
  border-radius: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.block-content__link:hover {
  border: 2px solid #F13C6E;
  background-color: #ffffff;
  color: #000000;
}

.footer {
  padding-top: 60px;
}

.footer__menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
  margin-bottom: 35px;
  border-bottom: 1px solid #EFEFEF;
}

.footer__menu {
  max-width: 255px;
}

.footer__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.footer__info {
  padding: 25px 0;
  background: #EFEFEF;
}

.footer-menu__title {
  margin: 0;
  padding-bottom: 30px;
  width: 255px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  border-bottom: 1px solid #EFEFEF;
}

.footer-menu__list {
  padding-top: 25px;
}

.menu-list__item {
  margin-bottom: 10px;
}

.menu-list__item:last-child {
  margin: 0;
}

.menu-list__link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #828282;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.menu-list__link:hover {
  color: #000000;
}

.footer-data {
  margin-right: 205px;
}

.footer-data__img {
  max-width: 45px;
  height: auto;
}

.footer-data__social-link {
  margin-right: 20px;
}

.footer-data__social-link:last-child {
  margin: 0;
}

.footer-data__position {
  margin-right: 105px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.footer-data__link {
  margin-right: 40px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer-data__link::after {
  content: '';
  display: block;
  height: 2px;
  background-color: #F13C6E;
  width: 0%;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer-data__link:hover {
  color: #F13C6E;
}

.footer-data__link:hover::after {
  width: 100%;
}

.footer-data__button {
  padding: 0;
  border: none;
  background-color: transparent;
  padding: 10px 15px;
  border: 2px solid #F13C6E;
  border-radius: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer-data__button:hover {
  color: #ffffff;
  background-color: #F13C6E;
}

.footer-info__text {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #828282;
}

.footer-info__link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #828282;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.footer-info__link:hover {
  color: #000000;
}

.footer-info__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */