.hero
  padding: 190px 0 190px 0
  background-color: #F13C6E

  &__content
    max-width: 325px

.hero-content

  &__title
    margin: 0
    margin-bottom: 50px
    font-family: 'Roboto',sans-serif
    font-weight: 700
    font-size: 48px
    color: #FFFFFF

  &__text
    margin: 0
    margin-bottom: 50px
    font-family: 'Roboto', sans-serif
    font-weight: 400
    font-size: 14px
    color: #FFFFFF

  &__link
    display: inline-block
    padding: 12px 45px
    text-decoration: none
    background: #F13C6E
    border: 2px solid #FFFFFF
    border-radius: 40px
    font-family: 'Roboto', sans-serif
    font-weight: 400
    font-size: 14px
    color: #FFFFFF
